        h1 {
            color:whitesmoke;
            text-shadow: 2px 2px 20px blueviolet;
            font-size: 3em;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
        }
        ul {
            list-style-type: none;
            margin:auto;
            padding-left: 0;
            float:left;
            position: fixed;
            overflow: hidden;
            top:120px;
        }
        li a {
            display: inline-block;
            padding: 15px;
            color:black;
            background-color: lightcyan;
        }
        body {
            background-image: url("img/Plini-Impulse-Voices-Art.jpg");
            text-align: center;
        }
        table {
            width: 80%;
            background-color: lightgrey;
            width: auto;
            border: 10px solid green;
            padding: auto;
            margin: auto;
            color:black;
            font-size:15px;
        }
        .audio {
            float: right;
            position:fixed;
        }